{
  "openapi": "3.1.0",
  "info": {
    "title": "MCJars API",
    "version": "3.12.1:5c00fa6"
  },
  "servers": [
    {
      "url": "https://mcjars.app"
    }
  ],
  "paths": {
    "/api/organization/v1": {
      "get": {
        "operationId": "get_api_organization_v1",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "infos",
                    "stats"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "infos": {
                      "type": "object",
                      "required": [
                        "icon",
                        "name",
                        "types"
                      ],
                      "properties": {
                        "icon": {
                          "$ref": "#/components/schemas/CompactString"
                        },
                        "name": {
                          "$ref": "#/components/schemas/CompactString"
                        },
                        "types": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ServerType"
                          }
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "required": [
                        "requests",
                        "userAgents",
                        "origins"
                      ],
                      "properties": {
                        "requests": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "userAgents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "origins": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/organization/v1/types": {
      "get": {
        "operationId": "get_api_organization_v1_types",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "types"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "types": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/ServerTypeInfo"
                      },
                      "propertyNames": {
                        "type": "string",
                        "enum": [
                          "VANILLA",
                          "PAPER",
                          "PUFFERFISH",
                          "SPIGOT",
                          "FOLIA",
                          "PURPUR",
                          "WATERFALL",
                          "VELOCITY",
                          "FABRIC",
                          "BUNGEECORD",
                          "QUILT",
                          "FORGE",
                          "NEOFORGE",
                          "MOHIST",
                          "ARCLIGHT",
                          "SPONGE",
                          "LEAVES",
                          "CANVAS",
                          "ASPAPER",
                          "LEGACY_FABRIC",
                          "LOOHP_LIMBO",
                          "NANOLIMBO",
                          "DIVINEMC",
                          "MAGMA",
                          "LEAF",
                          "VELOCITY_CTD",
                          "YOUER",
                          "PLUTO"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_organization_v1_types",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "types"
                ],
                "properties": {
                  "types": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ServerType"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "operationId": "get_api_user",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "user"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "user": {
                      "$ref": "#/components/schemas/ApiUser"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/admin/stats": {
      "get": {
        "operationId": "get_api_user_admin_stats",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "stats"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "required": [
                        "organizations",
                        "users",
                        "sessions",
                        "webhooks",
                        "requests",
                        "internal"
                      ],
                      "properties": {
                        "organizations": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "users": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sessions": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "webhooks": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "requests": {
                          "type": "object",
                          "required": [
                            "total",
                            "minute",
                            "hour",
                            "day",
                            "week",
                            "month",
                            "year"
                          ],
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "minute": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "hour": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "day": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "week": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "month": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            },
                            "year": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0
                            }
                          }
                        },
                        "internal": {
                          "type": "object",
                          "required": [
                            "idleReadConnections",
                            "idleWriteConnections",
                            "cacheHits",
                            "cacheMisses"
                          ],
                          "properties": {
                            "idleReadConnections": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "idleWriteConnections": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "cacheHits": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "cacheMisses": {
                              "type": "integer",
                              "minimum": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/invites/{organization}/accept": {
      "post": {
        "operationId": "post_api_user_invites_organization_accept",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/invites/{organization}/decline": {
      "post": {
        "operationId": "post_api_user_invites_organization_decline",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/logout": {
      "post": {
        "operationId": "post_api_user_logout",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations": {
      "get": {
        "operationId": "get_api_user_organizations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "organizations"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "organizations": {
                      "type": "object",
                      "required": [
                        "owned",
                        "member",
                        "invites"
                      ],
                      "properties": {
                        "owned": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        },
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        },
                        "invites": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_api_user_organizations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 16,
                    "minLength": 3
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}": {
      "get": {
        "operationId": "get_api_user_organizations_organization",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "organization"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_user_organizations_organization",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patch_api_user_organizations_organization",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "owner": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "public": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "types": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/ServerType"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/api-keys": {
      "get": {
        "operationId": "get_api_user_organizations_organization_api-keys",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "apiKeys"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "apiKeys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_api_user_organizations_organization_api-keys",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "key"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/api-keys/{key}": {
      "get": {
        "operationId": "get_api_user_organizations_organization_api-keys_key",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "key",
            "in": "path",
            "description": "The api key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "apiKey"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "apiKey": {
                      "$ref": "#/components/schemas/OrganizationKey"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_user_organizations_organization_api-keys_key",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "key",
            "in": "path",
            "description": "The api key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/icon": {
      "post": {
        "operationId": "post_api_user_organizations_organization_icon",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "url"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/stats": {
      "get": {
        "operationId": "get_api_user_organizations_organization_stats",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "stats"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "required": [
                        "requests",
                        "userAgents",
                        "ips",
                        "origins",
                        "continents",
                        "countries"
                      ],
                      "properties": {
                        "requests": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "userAgents": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "ips": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "origins": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "continents": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        },
                        "countries": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/subusers": {
      "get": {
        "operationId": "get_api_user_organizations_organization_subusers",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "users"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationSubuser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_api_user_organizations_organization_subusers",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login"
                ],
                "properties": {
                  "login": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/subusers/{subuser}": {
      "get": {
        "operationId": "get_api_user_organizations_organization_subusers_subuser",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "subuser",
            "in": "path",
            "description": "The subuser login name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "user"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "user": {
                      "$ref": "#/components/schemas/OrganizationSubuser"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_api_user_organizations_organization_subusers_subuser",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "subuser",
            "in": "path",
            "description": "The subuser login name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/organizations/{organization}/update-build-data": {
      "post": {
        "operationId": "post_api_user_organizations_organization_update-build-data",
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "description": "The organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/build/{build}": {
      "get": {
        "operationId": "get_api_v1_build_build",
        "parameters": [
          {
            "name": "build",
            "in": "path",
            "description": "The build number or hash to lookup",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "build",
                    "latest",
                    "version"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "build": {
                      "$ref": "#/components/schemas/Build"
                    },
                    "latest": {
                      "$ref": "#/components/schemas/Build"
                    },
                    "version": {
                      "$ref": "#/components/schemas/MinifiedVersion"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/builds/{type}": {
      "get": {
        "operationId": "get_api_v1_builds_type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The server type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServerType"
            },
            "example": "VANILLA"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "versions"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "versions": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Version"
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/builds/{type}/{version}": {
      "get": {
        "operationId": "get_api_v1_builds_type_version",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The server type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServerType"
            },
            "example": "VANILLA"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The server version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.17.1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "builds"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "builds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Build"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/builds/{type}/{version}/{build}": {
      "get": {
        "operationId": "get_api_v1_builds_type_version_build",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The server type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServerType"
            },
            "example": "VANILLA"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The server version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.17.1"
          },
          {
            "name": "build",
            "in": "path",
            "description": "The build number or latest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "latest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "build"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "build": {
                      "$ref": "#/components/schemas/Build"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/script/{build}/bash": {
      "get": {
        "operationId": "get_api_v1_script_build_bash",
        "parameters": [
          {
            "name": "build",
            "in": "path",
            "description": "The build number or hash to lookup",
            "required": true,
            "example": "b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"
          },
          {
            "name": "echo",
            "in": "query",
            "description": "Whether to echo inside the script",
            "required": true,
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/script/{build}/powershell": {
      "get": {
        "operationId": "get_api_v1_script_build_powershell",
        "parameters": [
          {
            "name": "build",
            "in": "path",
            "description": "The build number or hash to lookup",
            "required": true,
            "example": "b1f3eeac53355d9ba5cf19e36abe8b2a30278c0e60942f3d07ac9ac9e4564951"
          },
          {
            "name": "echo",
            "in": "query",
            "description": "Whether to echo inside the script",
            "required": true,
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "operationId": "get_api_v1_stats",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "stats"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "required": [
                        "builds",
                        "hashes",
                        "requests",
                        "size",
                        "total"
                      ],
                      "properties": {
                        "builds": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "hashes": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "requests": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "size": {
                          "type": "object",
                          "required": [
                            "database"
                          ],
                          "properties": {
                            "database": {
                              "type": "integer",
                              "format": "int64"
                            }
                          }
                        },
                        "total": {
                          "type": "object",
                          "required": [
                            "jarSize",
                            "zipSize"
                          ],
                          "properties": {
                            "jarSize": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "zipSize": {
                              "type": "integer",
                              "format": "int64"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/types": {
      "get": {
        "operationId": "get_api_v1_types",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "types"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "types": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/ServerTypeInfo"
                      },
                      "propertyNames": {
                        "type": "string",
                        "enum": [
                          "VANILLA",
                          "PAPER",
                          "PUFFERFISH",
                          "SPIGOT",
                          "FOLIA",
                          "PURPUR",
                          "WATERFALL",
                          "VELOCITY",
                          "FABRIC",
                          "BUNGEECORD",
                          "QUILT",
                          "FORGE",
                          "NEOFORGE",
                          "MOHIST",
                          "ARCLIGHT",
                          "SPONGE",
                          "LEAVES",
                          "CANVAS",
                          "ASPAPER",
                          "LEGACY_FABRIC",
                          "LOOHP_LIMBO",
                          "NANOLIMBO",
                          "DIVINEMC",
                          "MAGMA",
                          "LEAF",
                          "VELOCITY_CTD",
                          "YOUER",
                          "PLUTO"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/version/{version}": {
      "get": {
        "operationId": "get_api_v1_version_version",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The server version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.17.1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "version"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "version": {
                      "$ref": "#/components/schemas/MinifiedVersionStats"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/version/{version}/builds": {
      "get": {
        "operationId": "get_api_v1_version_version_builds",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The server version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.17.1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "builds"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "builds": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Build"
                        }
                      },
                      "propertyNames": {
                        "type": "string",
                        "enum": [
                          "VANILLA",
                          "PAPER",
                          "PUFFERFISH",
                          "SPIGOT",
                          "FOLIA",
                          "PURPUR",
                          "WATERFALL",
                          "VELOCITY",
                          "FABRIC",
                          "BUNGEECORD",
                          "QUILT",
                          "FORGE",
                          "NEOFORGE",
                          "MOHIST",
                          "ARCLIGHT",
                          "SPONGE",
                          "LEAVES",
                          "CANVAS",
                          "ASPAPER",
                          "LEGACY_FABRIC",
                          "LOOHP_LIMBO",
                          "NANOLIMBO",
                          "DIVINEMC",
                          "MAGMA",
                          "LEAF",
                          "VELOCITY_CTD",
                          "YOUER",
                          "PLUTO"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v2/build": {
      "post": {
        "operationId": "post_api_v2_build",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32",
                        "minimum": 0
                      },
                      "uuid": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "uuid"
                      },
                      "type": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "$ref": "#/components/schemas/ServerType"
                          }
                        ]
                      },
                      "versionId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "projectVersionId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "name": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "buildNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32",
                        "minimum": 0
                      },
                      "experimental": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      },
                      "jarUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "jarSize": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32",
                        "minimum": 0
                      },
                      "zipUrl": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "zipSize": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32",
                        "minimum": 0
                      },
                      "hash": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              },
                              "sha1": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sha224": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sha256": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sha384": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sha512": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "md5": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "format": "int32",
                          "minimum": 0
                        },
                        "uuid": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "type": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "$ref": "#/components/schemas/ServerType"
                            }
                          ]
                        },
                        "versionId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "projectVersionId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "buildNumber": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "format": "int32",
                          "minimum": 0
                        },
                        "experimental": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "jarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "jarSize": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "format": "int32",
                          "minimum": 0
                        },
                        "zipUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "zipSize": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "format": "int32",
                          "minimum": 0
                        },
                        "hash": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "primary": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "sha1": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "sha224": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "sha256": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "sha384": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "sha512": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "md5": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "build",
                    "latest",
                    "version",
                    "configs"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "build": {
                      "$ref": "#/components/schemas/Build"
                    },
                    "latest": {
                      "$ref": "#/components/schemas/Build"
                    },
                    "version": {
                      "$ref": "#/components/schemas/MinifiedVersion"
                    },
                    "configs": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "uuid",
                          "configUuid",
                          "type",
                          "format",
                          "value"
                        ],
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "configUuid": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "type": {
                            "$ref": "#/components/schemas/ServerType"
                          },
                          "format": {
                            "$ref": "#/components/schemas/Format"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "207": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "builds"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "builds": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "object",
                            "required": [
                              "build",
                              "latest",
                              "version",
                              "configs"
                            ],
                            "properties": {
                              "build": {
                                "$ref": "#/components/schemas/Build"
                              },
                              "latest": {
                                "$ref": "#/components/schemas/Build"
                              },
                              "version": {
                                "$ref": "#/components/schemas/MinifiedVersion"
                              },
                              "configs": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "object",
                                  "required": [
                                    "uuid",
                                    "configUuid",
                                    "type",
                                    "format",
                                    "value"
                                  ],
                                  "properties": {
                                    "uuid": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "configUuid": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "type": {
                                      "$ref": "#/components/schemas/ServerType"
                                    },
                                    "format": {
                                      "$ref": "#/components/schemas/Format"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "propertyNames": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/builds/{type}": {
      "get": {
        "operationId": "get_api_v2_builds_type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The server type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServerType"
            },
            "example": "VANILLA"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "builds"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "builds": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Version"
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/builds/{type}/{version}": {
      "get": {
        "operationId": "get_api_v2_builds_type_version",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The server type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServerType"
            },
            "example": "VANILLA"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The server version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.17.1"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "builds"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "builds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Build"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/config": {
      "post": {
        "operationId": "post_api_v2_config",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "config"
                ],
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "config": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "formatted",
                    "configs"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "formatted": {
                      "type": "string"
                    },
                    "configs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "from",
                          "value"
                        ],
                        "properties": {
                          "from": {
                            "$ref": "#/components/schemas/ServerType"
                          },
                          "value": {
                            "type": "string"
                          },
                          "build": {
                            "oneOf": [
                              {
                                "type": "null"
                              },
                              {
                                "$ref": "#/components/schemas/Build"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/configs": {
      "get": {
        "operationId": "get_api_v2_configs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "configs"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "configs": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Config"
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/lookups/types": {
      "get": {
        "operationId": "get_api_v2_lookups_types",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "types"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "types": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "total",
                          "uniqueIps"
                        ],
                        "properties": {
                          "total": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "uniqueIps": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/lookups/types/history/{year}/{month}": {
      "get": {
        "operationId": "get_api_v2_lookups_types_history_year_month",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year to get the version history for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 2024
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "The month to get the version history for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 12,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "types"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "types": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "day",
                            "total",
                            "uniqueIps"
                          ],
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "total": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "uniqueIps": {
                              "type": "integer",
                              "format": "int64"
                            }
                          }
                        }
                      },
                      "propertyNames": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "errors"
                  ],
[...]
